/*
TODO set a new font for the project
*/

h1 {
    font-size: 1.6em;
    color: #343434;
    padding-top: 1em;
}

h2 {
    font-size: 1.4em;
    color: #343434;
    padding-top: 1em;
}

h3 {
    font-size: 1.4em;
    color: #343434;
    padding-top: 1em;
    margin-bottom: 1em;
}

.btn-primary {
    background-color: #65819f;
    border-color: #6a85a7;
}

.btn-primary:hover {
    background-color: #5a718c;
    border-color: #536782;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #5a718c;
    border-color: #536782;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 .2rem .2rem #536782;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #5a718c;
    border-color: #536782;
    box-shadow: 0 0 0;
}

.headerSep {
    border-bottom: solid #483e3e 1px;
    margin-top: 0;
    width: 98%;
}

.main-navbar {
    background-color: #697c7c;
    font-size: 1.3em;
}

.sub-navbar {
    background-color: #f2f2f2;
    padding: 0;
    border-bottom: solid #bfbfbf 1px;
}

.user-name {
    color: #dfd7d0;
}

.nav-item a {
    color: #6f6964;
}

.nav-item.active {
    background-color: #d9d9d9;
}

.remove-btn {
    cursor: pointer;
}

.listLodging {
    background-color: #E3E3E3;
    border-radius: 5px;
    padding: 1em;
}

.lodging-item {
    margin-top: 2rem;
    background-color: white;
    padding: 1em 1.5em;
    box-shadow: 5px 5px 3px #aaaaaa;
}

.lodging-item h3 {
    font-weight: bold;
}

img.thumbnail {
    border: solid #c3c3c3 2px;
    box-shadow: 1px 1px 5px #c3c3c3;
}

.lodgingOption-item {
    border-bottom: #f0f0f0 solid 1px;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.address {
    color: #e69250;
}

.info_lodging li {
    list-style: none;
    margin-bottom: 0.5em;
}

.btn-image-picker label {
    display: block;
    text-align: center;
    font-size: 2em;
    width: 2em;
    border: solid #c3c3c3 2px;
    border-radius: 3px;
    background-color: #eeeeee;
    cursor: pointer;
    margin: 0 auto;
}

.btn-image-picker label:hover {
    background-color: #e0e0e0;
}

.btn-image-picker img {
    display: block;
    max-width: 80%;
    max-height: 20em;
    margin: 2em auto;
}

#listEquipments {
    width: 60%;
    margin-top: 1em;
}

#listEquipments input{
    border: none;
}

/* Survey */
.survey-from-group {
    margin: 2em;
    padding: 2em 3em;
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px #bfbfbf solid;
}

.survey-form-header {
    border-left: .5em #7e80af solid;
    padding: 1em 3em;
}

.survey-form-control {
    border: none;
    border-bottom: 1px #bfbfbf solid;
    margin-bottom: 1em;
    background-color: inherit;
}

.survey-form-control:hover {
    border-bottom-color: #8a8899;
    border-bottom-width: 2px;
}

.survey-form-control:focus {
    border-bottom-color: #7e80af;
    border-bottom-width: 2px;
}

textarea.survey-form-control {
    overflow: hidden;
    padding: 0;
    width: 80%;
}

.survey-form-check-group {
    width: 60%;
}

.survey-form-check {
    margin-right: .5em;
}

.survey-form-title {
    font-size: 2em;
}

.survey-form-option {
    margin: 2em;
}

#survey .coordinator {
    color: #aaaaaa;
    margin-top: 0;
    margin-bottom: 1.5em;
}