/*
TODO set a new font for the project
*/

h1 {
    font-size: 1.6em;
    color: #343434;
    padding-top: 1em;
}

h2 {
    font-size: 1.4em;
    color: #343434;
    padding-top: 1em;
}

h3 {
    font-size: 1.3em;
    color: #343434;
    padding-top: 1em;
    margin-bottom: 1em;
}

.btn-primary {
    background-color: #fb964d;
    border-color: #eb8b43;
}

.btn-primary:hover {
    background-color: #d9742b;
    border-color: #bf5f21;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #fb964d;
    border-color: #eb8b43;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 .2rem .2rem #d9742b;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #fb964d;
    border-color: #eb8b43;
    box-shadow: 0 0 0;
}

.headerSep {
    border-bottom: solid #483e3e 1px;
    margin-top: 0;
    width: 98%;
}

.main-navbar {
    background-color: #5b5656; /* #ff9b58 */
    font-size: 1.3em;
}

.sub-navbar {
    background-color: #f2f2f2;
    padding: 0;
    border-bottom: solid #bfbfbf 1px;
}

.user-name {
    color: #c5afa7;

}

.nav-item a {
    color: #6f6964;
}

.nav-item.active {
    background-color: #d9d9d9;
}

.listLodging {
    background-color: #E3E3E3;
    border-radius: 5px;
    padding: 1em;
}

.lodging-item {
    margin-top: 2rem;
    background-color: white;
    padding: 1em 1.5em;
    box-shadow: 5px 5px 3px #aaaaaa;
}

.lodging-item h3 {
    font-weight: bold;
}

img.thumbnail {
    border: solid #c3c3c3 2px;
    box-shadow: 1px 1px 5px #c3c3c3;
}

.lodgingOption-item {
    border-bottom: #f0f0f0 solid 1px;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.address {
    color: #e69250;
}

.info_lodging li {
    list-style: none;
    margin-bottom: 0.5em;
}

.btn-image-picker label {
    display: block;
    text-align: center;
    font-size: 2em;
    width: 2em;
    border: solid #c3c3c3 2px;
    border-radius: 3px;
    background-color: #eeeeee;
    cursor: pointer;
    margin: 0 auto;
}

.btn-image-picker label:hover {
    background-color: #e0e0e0;
}

.btn-image-picker img {
    display: block;
    max-width: 80%;
    max-height: 20em;
    margin: 2em auto;
}

#listEquipments {
    width: 60%;
    margin-top: 1em;
}

#listEquipments input{
    border: none;
}

/* Survey */
.form-survey div {
    margin-bottom: 2em;
}

.form-number {
    width: 50px;
}

.survey {
    margin-top: 2.5em;
    padding: 2em 2.5em;
    border: #bfbfbf solid 1px;
    border-radius: 20px;
}